@page
@model Rema1000LagerStyringsSystem.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h3>
            Velkommen til Rema1000 lagerstyringssystem
        </h3>
    </div>
    <p>

    </p>
    <div>
        Navigere rundt på siden ved hjælp af navigationslinjen op på toppen af siden
    </div>
</div>