@page
@model Rema1000LagerStyringsSystem.StatisticIndexModel
@using Rema1000LagerStyringsSystem.Interface
@inject IItem repository
@{
    ViewData["Title"] = "StatisticIndexModel";
}
<h1>Statistik</h1>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <div>
                Varer
            </div>
                    <li>
                        Der er i alt @repository.GetAllItems().Count varer 
                        <p>
                        Der er i alt @Enum.GetNames(typeof(StorageType)).Length varekategorier
                        </p>
            </li>
                Se varerne her: <a class="nav-link text-dark" asp-area="" asp-page="/Item/ItemPrint">Varer</a>
            </li>
            </ul>
        </div>
    </div>