@page
@model Rema1000LagerStyringsSystem.StatisticIndexModel
@using Rema1000LagerStyringsSystem.Interface
@inject IItem repository
@{
    ViewData["Title"] = "StatisticIndexModel";
}
<h1>Statistik</h1>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="Item/ItemPrint">Varer</a>
                </li>
                @* <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="StorageType/StorageTypeRead">Varekategori</a>
                </li> *@
                </li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="Statistic/StatisticIndex">Statistik</a>
                </li>
            </ul>
        </div>
    </div>
</nav>